# Used for userspace Tailscale configuration https://tailscale.com/kb/1112/userspace-networking
#ALL_PROXY=socks5://localhost:1055/
HTTP_PROXY=http://localhost:1055/
http_proxy=http://localhost:1055/
TAILSCALE_KEY=
